# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Virtual environments
.venv/
venv/
ENV/
env/

# Build / packaging
build/
dist/
*.egg-info/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project artifacts
*.zip

